<div class="hero-unit">
    <h1>Users -> {{name}}</h1>
</div>

<div id="content_holder">
    <div id="user-profile" class="row-fluid">
        <div class="span4">{{#if avatar}}<img {{bindAttr src="avatar.pictureUrl"}} width="32" height="32"/>{{/if}}}
            <div class="visibleName">{{name}}</div>
        </div>
        <div class="span4">{{#each contacts}}{{#if email}}{{this}}\n{{/if}}{{#if jabber}}{{this}}
            \n{{/if}}{{/each}}</div>
    </div>

    <a href="javascript:void(0)" onclick="history.back()">&lt;- Back</a>
</div>